<!DOCTYPE html>
<html>
  <head>
    <title>Metis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <div class="header">
    <b><nav class="navbar navbar-expand-lg navbar-light" style="background-color:">
    <%= link_to("Metis", root_path,method: :get,class: "navbar-brand") %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to("Home", root_path, mathod: :get, class: "nav-link") %>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in?	%>
        <li class="nav-item nav-link">
          <i class="fa fa-comment fa-fw fa-lg" aria-hidden="true"></i>
        </li>
        <% end %>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to("MyPage", root_path, mathod: :get, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to("Register", new_user_registration_path, class: :post, class: "nav-link") %> 
        </li>
        <li class="nav-item">
          <%= link_to("Login", new_user_session_path, class: :post, class: "nav-link") %> 
        <% end %>
        </li>
      </ul>
    </div>
  </nav></b>
  <body>
  </div>
  <%= yield %>
  </body>
</html>
